<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>

{% load staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'style/favicon.ico' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href="{% static 'style/carousel.css' %}" rel="stylesheet">
{% block css_chapter %} {% endblock %}
</head>
<body>
	<nav class ="navbar navbar-inverse">
	<div class="container-fluid plain" >
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="{% url 'exam:index'  %}"> Final  </a>
		</div>
		

		<div class="collapse navbar-collapse" id="topNavBar">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-hidden="True">
						<span class="glyphicon glyphicon-education" aria-hidden="True"></span>&nbsp;<span class=""> Экзамены </span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% for exam in exams %}
							<li><a href="{% url 'exam:subject_list' exam_id=exam.id %}"> <span class="">{{exam.examName}} </span></a></li>	
							{% endfor%}
					</ul>
					</li>
				</li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">
						<span class="glyphicon glyphicon-book" aria-hidden="True"></span>&nbsp;<span class="">Учебные материалы </span></a>
				</li>
			</ul>
			<form class	="navbar-form navbar-left" role="search" method="get" action="#">
				<div class="form-group">
					<input type="text" class="form-control" name ="q" value="">
				</div>
				<button type="submit" class="btn btn-default">Поиск</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="#">
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;<span class="">Ваш город </span> </a>
				</li>
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-hidden="True">
							<span class="glyphicon glyphicon-user" aria-hidden="True"></span>&nbsp;<span class=""> {{user.username}}  </span><span class="caret"></span></a>
							<ul class="dropdown-menu">								
								<li><a href="{% url 'exam:logout'  %}"> <span class="">Выход </span></a></li>	
							</ul>
						</li>
					</li>
				</ul>
		

			    {% else %}
				<li class="">
					<a href="{% url 'exam:login'  %}">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;<span class="">Вход </span></a>
				</li>
			    {% endif %}

			</ul>
		</div>
	</div>
</nav>

{% block body %}
{% endblock %}


<nav class ="navbar-fixed-bottom row-fluid" align="right">
	<div class="navbar-inner" >
		<div class="container" >
			<a class="navbar-brand-footer" href="{% url 'exam:index'  %}" > Final  </a>

		</div>

	</div>
</nav>


</body>
</html>